body {
    background-color: rgb(29, 29, 29);
}

p {
    color: rgb(194, 194, 194);
}

.logo {
    width: 75%;
    max-width: 400px;
    height: 50vh;
    max-height: 100px;
    background-image: url('images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}